/* your code here */
.top{
	display:flex;
	justify-content:space-between;
}
.media-icons{
	list-style-type:none;
	display:flex;
	border-radius:5px
}
.media-icons a{
	text-decoration:none;
	margin:3px;
}